<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<log4net>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} [%thread] %-5level %logger: %message | request #%property{request-number}%newline" />
			</layout>
		</appender>
		
		<appender name="requestsAppender" type="log4net.Appender.FileAppender">
			<file value=".\logs\requests.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %level: %message | request #%property{request-number}%newline" />
			</layout>
		</appender>

		<appender name="toDoAppender" type="log4net.Appender.FileAppender">
			<file value=".\logs\todos.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %level: %message | request #%property{request-number}%newline" />
			</layout>
		</appender>

		<logger name="ConsoleLogger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="requestsAppender" />
			<appender-ref ref="toDoAppender" />
		</logger>

		<logger name="request-logger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="requestsAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		
		<logger name="todo-logger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="toDoAppender" />
		</logger>

		<root>
			<level value="INFO" />
			<appender-ref ref="requestsAppender" />
			<appender-ref ref="toDoAppender" />
		</root>
	</log4net>


</configuration>